.page-content-section-header,
.navbar-portfolio {
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0px;
}


.navbar-brand {
    background-color: #333;
}

.navbar-brand:hover {
    color: white;
}


.page-content {

}


.page-content-section-header {
    margin: 15px 0px;
}


.section-header-title {
    padding: 15px;
    line-height: 20px;

    min-width: 100px;
    display: inline-block;

    background: #333;

    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.portfolio-footer {
    position: relative;
    padding: 50px 20px 30px;
    margin-top: 50px;
    bottom: 0;
    top: 0;
    /*width: 100%;*/
}


.portfolio-footer-block {
    display: inline-block;
}


.section-header-tags {
    padding: 15px;
    display: inline-block;
}


.section-links {
    padding: 3px 5px 5px;

    background: #999;
}


.page-content p {
    margin-left: 10px;
}


a.rectangle-button {
    font-size: 14px;
}


.thumbnail-cut {
    overflow-y: hidden;
    max-height: 120px;
    border-radius: 0;
}


.thumbnail-img {
    max-height: 120px;
}


.thumbnail .caption-center {
    padding: 0px 4px 2px;
    text-align: center;
    font-size: 12px;
}


.background-colored-hover:hover {
    background: #333;
    color:;
}


a:hover {
    text-decoration: none;
    /*color: white;*/
}

html,
body {
    height: 100%;
}


p, li {
    color: #555;
}

h1, h2, h3, h4, h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}