h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #222;
  margin-top: 0;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1; }

h1,
.heading-1 {
  font-size: 3rem;
  margin-bottom: 2.25rem; }

h2,
.heading-2 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem; }

h3,
.heading-3 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem; }

h4,
.heading-4 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

h5,
.heading-5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem; }

h6,
.heading-6 {
  font-size: 1rem;
  margin-bottom: 0.5rem; }

h2,
h5,
h6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem; }

p {
  text-align: justify;
  margin-bottom: 1rem;
  margin-top: 0; }

small {
  font-size: 65%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  hyphens: auto; }

.anchor {
  font-size: 50%;
  padding-right: 0.3em;
  padding-left: 0.3em;
  display: none; }

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline; }

ul,
ol {
  margin: 0 0 1rem; }
  ul li,
  ol li {
    text-align: justify; }
    ul li p,
    ol li p {
      margin-bottom: 0; }

ul {
  padding-left: 1.6rem; }

dl {
  margin: 0; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin-left: 1.6rem; }

ol {
  counter-reset: item;
  padding: 0; }
  ol > li {
    counter-increment: item;
    list-style-type: none;
    text-indent: -1.6rem;
    padding-left: 1.6rem; }
    ol > li:before {
      content: counter(item) ".";
      display: inline-block;
      text-align: right;
      width: 1.3rem;
      padding-right: 0.3rem;
      font-weight: bold; }
    ol > li.fancy-block:before {
      background: black;
      color: white; }

ul.collapsed {
  list-style: none;
  padding: 0; }
  ul.collapsed li {
    display: inline-block; }

ul.blocks,
ol.blocks {
  list-style: none;
  padding: 0; }

pre,
code {
  font-family: Monaco, Consolas, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4; }

pre,
:not(pre) > code {
  background: rgba(0, 0, 0, 0.066); }

pre {
  border-radius: 0.199em;
  margin: 0.5em 0;
  padding: 1em; }

:not(pre) > code {
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.333em; }

h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code {
  background: none; }

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse; }
  table thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15); }
    table thead .title {
      text-transform: uppercase; }
  table tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.033); }
  table td,
  table th {
    padding: 0.1rem 0.666rem;
    text-align: left;
    vertical-align: top; }
    table td p,
    table th p {
      margin: 0; }

.tags {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .tags .tag {
    padding: 0.33em 0.66em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.3333em;
    font-size: 65%; }

.page-title {
  margin: 0; }

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  .container.padded {
    margin: 3vh auto 2rem; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1160px; } }
  @media screen and (max-width: 1199px) {
    .container {
      width: 952px; } }
  @media screen and (max-width: 991px) {
    .container {
      width: 85%;
      flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
      flex-direction: column; } }
  @media screen and (max-width: 991px) {
    .container {
      flex-direction: column;
      margin-top: 2rem; } }
  .container .menu {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    @media screen and (min-width: 768px) {
      .container .menu {
        padding: 0 0.66rem 0 0; } }
    @media screen and (max-width: 991px) {
      .container .menu {
        flex: 1 1 auto; } }
    .container .menu a.home {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
    .container .menu .logo {
      max-width: 100px;
      height: auto;
      align-self: center; }
    .container .menu .hr {
      text-align: center; }
    .container .menu .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap; }
      .container .menu .navigation .link {
        margin-left: 1rem; }
      .container .menu .navigation .category:not(:first-child) {
        margin-top: 1.25rem; }
      .container .menu .navigation .category .category-title {
        text-transform: uppercase;
        letter-spacing: 1px; }
  .container .content {
    flex: 5;
    padding-top: 8px; }
    @media screen and (min-width: 768px) {
      .container .content {
        padding-left: 1rem; } }
    .container .content .content-header {
      height: 92px; }
      .container .content .content-header .content-title {
        margin-bottom: 0; }
    .container .content .block {
      margin-bottom: 3rem; }

input,
textarea,
select,
option {
  color: #444; }

input,
select {
  padding: 0.15rem 0.93rem 0.15rem 0.333rem;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }
  input:hover,
  select:hover {
    border-color: rgba(0, 0, 0, 0.3); }
  input:focus,
  select:focus {
    border-color: #0070d4; }
  input[type="checkbox"],
  select[type="checkbox"] {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0.15em;
    padding: 0.333em; }
    input[type="checkbox"]:checked:before,
    select[type="checkbox"]:checked:before {
      display: inline-block;
      position: absolute;
      top: -0.333rem;
      left: -0.063rem;
      content: "\002714";
      color: black;
      font-weight: bold;
      font-size: 1.1rem; }
  input[type="number"],
  select[type="number"] {
    padding-right: 0; }

select option {
  border: none; }
  select option:hover {
    background: rgba(0, 0, 0, 0.3); }

label {
  padding: 0;
  color: black;
  cursor: pointer; }
  label > input {
    margin: 0 0.5rem; }

button {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0.333rem 0.666rem;
  margin: 0.1rem 0.15rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  button:hover {
    border-color: #0070d4; }
  button:active {
    background: #0070d4;
    color: white; }
  button:first-child {
    margin-left: 0; }

.calculator input,
.calculator select {
  font-family: Monaco, Consolas, monospace;
  text-align: right; }

.calculator > * {
  margin-bottom: 1rem; }

.calculator .flags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem; }
  .calculator .flags .flag {
    flex: 0 0 50%; }
    @media screen and (max-width: 767px) {
      .calculator .flags .flag {
        flex: 100%; } }

.calculator .flag-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem; }
  .calculator .flag-values input {
    max-width: 4em; }

.calculator .render-type label {
  flex: 1;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .calculator .render-type label {
      flex: 100%; } }

.calculator .render-type input {
  flex: 0 0 4em;
  align-self: flex-end;
  margin-right: 0.666rem; }

.calculator .render-type select {
  flex: 1;
  align-self: flex-end;
  margin-right: 0.666rem; }

.calculator .data-values label {
  flex: 1;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .calculator .data-values label {
      flex: 100%; } }

.calculator .data-values input,
.calculator .data-values select {
  flex: 0 0 4em;
  align-self: flex-end;
  margin-right: 0.666rem; }

.calculator .inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%; }
  .calculator .inputs > * {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.1rem; }
    @media screen and (max-width: 767px) {
      .calculator .inputs > * {
        flex: 100%; } }

.calculator .chunk {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch; }
  .calculator .chunk > * {
    display: flex;
    align-items: center; }
  .calculator .chunk #chunk {
    text-align: center; }

* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #444;
  font-size: 16px;
  line-height: 1.65;
  margin: 0;
  overflow-y: scroll;
  background: white; }

img {
  max-width: 100%;
  height: auto; }

hr {
  width: 100%;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: dashed;
  margin: 0.399em 0 0.6em; }

a:not(.button) {
  color: #0070d4;
  padding-bottom: 0.1em;
  text-decoration: none; }
  a:not(.button):hover {
    text-decoration: underline; }

a.chunk {
  font-family: Monaco, Consolas, monospace;
  padding: 0.066rem 0.3rem;
  background: rgba(0, 0, 0, 0.05); }
  a.chunk:hover {
    background: rgba(0, 0, 0, 0.075); }

span.chunk {
  font-family: Monaco, Consolas, monospace;
  border-bottom: 0;
  padding: 0.066rem 0.3rem;
  background: rgba(0, 0, 0, 0.05); }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.long,
.float,
.short,
.byte,
.string,
.crc {
  font-family: Monaco, Consolas, monospace; }

.long,
.short,
.float {
  color: red; }

.string {
  color: lightgreen; }

.byte {
  color: orange; }

.crc {
  color: orange; }

table.structure tr td:nth-child(1) {
  white-space: nowrap; }

table.structure tr td:nth-child(1),
table.structure tr th:nth-child(1) {
  width: 16%; }

table.structure tr td:nth-child(2) {
  font-family: Monaco, Consolas, monospace;
  white-space: nowrap; }

table.structure tr td:nth-child(2),
table.structure tr th:nth-child(2) {
  text-align: right;
  width: 8%; }

table.hierarchy tr td:nth-child(1),
table.hierarchy tr th:nth-child(1) {
  width: 15%; }

table.hierarchy tr td:nth-child(2),
table.hierarchy tr th:nth-child(2) {
  width: 50%; }

table.hierarchy tr td:nth-child(3),
table.hierarchy tr th:nth-child(3) {
  width: 35%; }

table.render-type tr td:first-child,
table.render-type tr td:nth-child(2) {
  font-family: Monaco, Consolas, monospace; }

table.render-type tr td:first-child,
table.render-type tr th:first-child,
table.render-type tr td:nth-child(2),
table.render-type tr th:nth-child(2) {
  text-align: right;
  width: 5%; }

table.render-type tr td:nth-child(3),
table.render-type tr th:nth-child(3) {
  width: 45%; }

table.render-type tr td:nth-child(4),
table.render-type tr th:nth-child(4) {
  width: 45%; }

.hierarchy .children {
  padding-left: 3rem;
  border-left: 1px dotted rgba(0, 0, 0, 0.15); }

.hierarchy header:not(.has-children) {
  display: inline-block; }
