{% extends 'header.html.j2' %}

{% block after_nav %}
{% set last_cat = { 'v': '' } %}
{% for id, chunk in chunks.items() %}
	{% if last_cat.v != chunk.category %}
		<li class="category"><span class="category-title">{{ chunk.category }}</span></li>
		{% if last_cat.update({'v': chunk.category}) %}{% endif %}
	{% endif %}
	<li class="link"><a href="#{{ id }}" alt="{{ chunk.name }}" class="chunk">{{ chunk.name }}</a></li>
{% endfor %}
{% endblock %}
