{% extends 'default.html.j2' %}

{% block header %}
	{% include 'pages/msh-header.html.j2' %}
{% endblock %}

{% block content_body %}
	{{ super() }}

	<section class="block">
		<h2 class="title" id="chunk-hierarchy">Chunk Hierarchy</h2>
		<div class="hierarchy">
		{% for id, chunk in hierarchy.items() recursive %}
			<header class="{% if chunk.all_children %}has-children{% endif %}">
				<a href="#{{ id }}" alt="{{ chunk.name }}" class="title chunk">{{ id }}</a>
			</header>
			{% if chunk.all_children %}
			<div class="children">
				{% if chunk.has_containers %}
					{{ loop(chunk.all_children.items()) }}
				{% else %}
					{% for child_id, child in chunk.all_children.items() %}
						{% if child.no_link %}
							<span class="chunk">{{ child_id }}</span>
						{% else %}
							<a href="#{{ child_id }}" alt="{{ child.name }}" class="chunk">{{ child_id }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</section>

	{% for id, chunk in chunks.items() %}
		<section class="chunk block">
			<h2 class="title" id="{{ id }}">{{ chunk.name }}</h2>
			{# <h4 class="desc-title">Description</h4> #}
			{{ chunk.description|markdown }}
			<table class="hierarchy">
				<thead>
					<tr>
						<th>Parent</th>
						<th>Children</th>
						<th>Appearance</th>
					</tr>
				</thead>
				<tr>
					<td>
						{% if chunk.parent %}<a href="#{{ chunk.parent }}" alt="{{ chunk.parent }}" class="chunk">{{ chunk.parent }}</a>{% else %}-{% endif %}
					</td>
					<td>
					{% for child in chunk.children %}
						<a href="#{{ child }}" alt="{{ child }}" class="chunk">{{ child }}</a>
					{% endfor %}
					</td>
					<td>
						{{ chunk.necessity }}
					</td>
				</tr>
			</table>
			{% if chunk.links %}
			<p class="see-also">
				See also:
				{% for link in chunk.links -%}
					<a href="{{ link.link }}" alt="{{ link.name }}">{{ link.name }}</a>
					{%- if not loop.last %}<span>, </span>{% endif -%}
				{%- endfor %}
			</p>
			{% endif %}
			{% if chunk.structure %}
			{# <h4 class="structure-title">Structure</h4> #}
			<table class="structure">
				<thead>
					<tr class="title"><th>Structure</th></tr>
					<tr>
						<th>Data Type</th><th>Size</th><th>Description</th>
					</tr>
				</thead>
				{% for part in chunk.structure %}
				<tr>
					<td
						{% if 'byte' in part[0] -%}class="byte"
						{%- elif 'long' in part[0] -%}class="long"
						{%- elif 'string' in part[0] -%}class="string"
						{%- elif 'float' in part[0] -%}class="float"
						{%- elif 'short' in part[0] -%}class="short"
						{%- elif 'CRC' in part[0] -%}class="crc"
						{%- endif %}
					>
						{{- part[0] -}}
					</td>
					<td>{{ part[1] }}</td>
					<td>{{ part[2]|markdown }}</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</section>
	{% endfor %}
{% endblock %}
