{% extends 'header.html.j2' %}

{% block after_nav %}
    <li class="category"><h6 class="category-title">Render Types</h6></li>
    {% for rendertype in rendertypes -%}
        <li class="link">
            <a href="#{{ rendertype.key }}" alt="{{ rendertype.name }}">
                {{ '{:0>2}'.format(loop.index) }} - {{ rendertype.name }}
            </a>
        </li>
    {%- endfor %}
{% endblock %}
