<aside class="menu">
	<a href="/" class="no-style home">
		{# <img src="{{ root_path }}/{{ global.logo }}" class="logo"> #}
		<h1 class="page-title{% if not fancy_title %} not-fancy{% endif %}">
		{% if fancy_title %}
			{% for line in fancy_title %}
				<span class="line">{{ line.text }}</span>
			{% endfor %}
		{% else %}
			{{ title }}
		{% endif %}
		</h1>
	</a>
	<span class="no-select hr">&middot; &middot; &middot;</span>
	<ul class="navigation blocks">
		{% for category in navigation %}
			<li class="category"><h6 class="category-title">{{ category.title }}</h6></li>
			{% for link in category.links %}
			<li class="link"><a href="{{ link.href }}">{{ link.title }}</a></li>
			{% endfor %}
		{% endfor %}
	</ul>
</aside>
