<aside class="menu">
	<ul class="navigation blocks">
		{% block before_nav %}
		{% endblock %}
		{% for category in navigation %}
			<li class="category"><span class="category-title">{{ category.title }}</span></li>
			{% for link in category.links %}
			<li class="link"><a href="{{ link.href }}">{{ link.title }}</a></li>
			{% endfor %}
		{% endfor %}
		{% block after_nav %}
		{% endblock %}
	</ul>
</aside>
