<section markdown="1">

I do (mostly digital) art in my free time. These are some of the pieces with higher "production value".
I used to do more 3d art but in the past few years my focus has shifted more to illustrations and paintings.

For sketches, doodles and whatever else I might produce you can check my [Artstation](//www.artstation.com/artist/schlechtwetterfront).

</section>
