@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league_gothic/leaguegothic-italic-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/league_gothic/leaguegothic-condensed-regular-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/league_gothic/leaguegothic-condensed-italic-webfont.eot');
    src: url('../fonts/league_gothic/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../fonts/league_gothic/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}


/* Regular */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-black-webfont.eot');
    src: url('../fonts/orbitron/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron/orbitron-black-webfont.woff') format('woff'),
         url('../fonts/orbitron/orbitron-black-webfont.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-black-webfont.svg#orbitron_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-bold-webfont.eot');
    src: url('../fonts/orbitron/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron/orbitron-bold-webfont.woff') format('woff'),
         url('../fonts/orbitron/orbitron-bold-webfont.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-bold-webfont.svg#orbitron_bold') format('svg');
    font-weight: normal;
    font-style: bold;

}

/* Condensed */
@font-face {
    font-family: 'Orbitron Light';
    src: url('../fonts/orbitron/orbitron-light-webfont.eot');
    src: url('../fonts/orbitron/orbitron-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron/orbitron-light-webfont.woff') format('woff'),
         url('../fonts/orbitron/orbitron-light-webfont.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-light-webfont.svg#orbitron_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'Orbitron Medium';
    src: url('../fonts/orbitron/orbitron-medium-webfont.eot');
    src: url('../fonts/orbitron/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orbitron/orbitron-medium-webfont.woff') format('woff'),
         url('../fonts/orbitron/orbitron-medium-webfont.ttf') format('truetype'),
         url('../fonts/orbitron/orbitron-medium-webfont.svg#orbitron_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Blue Vinyl';
    src: url('../fonts/blue-vinyl/PrintClearly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blue Vinyl';
    src: url('../fonts/blue-vinyl/PrintBold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Blue Vinyl';
    src: url('../fonts/blue-vinyl/PrintDashed.ttf') format('truetype');
    font-weight: normal;
    font-style: dashed;
}


@font-face {
    font-family: 'Geo Sans Light';
    src: url('../fonts/geo_sans_light/GeosansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geo Sans Light Oblique';
    src: url('../fonts/geo_sans_light/GeosansLight-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
