//
// # Calculator
//


.calculator {

    input, select {
        font-family: Monaco, Consolas, monospace;
        text-align: right;
    }

    .flags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $flow-margin-bottom;
        
        .flag {
            flex: 0 0 50%;
        }
    }

    .flag-values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: $flow-margin-bottom;

        input {
            max-width: 4em;
        }
    }

    .inputs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: $flow-margin-bottom;
        width: 100%;

        > * {
            flex: 50%;
        }

        label {
            width: 33%;
            display: inline-block;
        }

        input, select {
            width: 63%;
            margin-left: 1%;
        }
    }

    .render-type {

    }

    .data-values {

    }

    .chunk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        width: 100%;

        > div {
            flex: 100%;
        }

        #chunk {
            text-align: center;
        }
    }
}
