//
// # Calculator
//


.calculator {

    input, select {
        font-family: Monaco, Consolas, monospace;
        text-align: right;
    }

    .flags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $flow-margin-bottom;
        
        .flag {
            flex: 0 0 50%;
        }
    }

    .flag-values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: $flow-margin-bottom;

        input {
            max-width: 4em;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $flow-margin-bottom;
        width: 100%;

        > * {
            width: 100%;
        }
    }

    .render-type {
        label {
            width: 33%;
            display: inline-block;
        }

        input, select {
            width: 66%;
        }
    }

    .data-values {
        .inputs > * {
            width: 45%;
        }
        label {
            width: 33%;
            display: inline-block;
        }

        input, select {
            width: 66%;
        }
    }

    .chunk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > div {
            
        }

        #chunk {
            text-align: center;
        }
    }
}
