//
// # Style variables
//

// ## Content widths
//

$width-large:	1400px;
$width-medium:	992px;
$width-small:	768px;
$width-xsmall:	576px;
$width-xxsmall:	400px;


// ## Layout
//

$page-padding-top:			10vh;

$main-content-padding-top: 	8px;

$heading-area-height: 		100px;


// ## Colors
//

$accent-light:				rgba(255, 50, 50, 0.5);
$accent:					#00aeef;
$accent-full:				#0e7196;

$hr-color:					rgba(0, 0, 0, .15);
$hr-color-light:			rgba(255, 255, 255, .1);

$gallery-background:		#111;

$link-color-light:			#666;
$link-color-hover-light:	#bbb;


// ## Other
//

$transition-time:	.15s;
