$softcry-accent: #00aeef;
$xsizetools-accent: #f8a509;
$zefileformats-accent: #f8a509;

body.page-softcry {
    a {
        color: $softcry-accent;
        border-color: $softcry-accent;
    }

    .page-title.page-title {
        padding: .666rem;
        color: $softcry-accent;
        text-transform: uppercase;
        font-weight: 400;
    }
}

// body.page-xsizetools {
//     a {
//         color: $xsizetools-accent;
//         border-color: $xsizetools-accent;
//     }

//     .page-title.page-title {
//         border: 8px solid $xsizetools-accent;
//         padding: .666rem;
//         background: black;
//         color: $xsizetools-accent;
//     }
// }

// body.page-fileformats {
//     a {
//         color: $zefileformats-accent;
//         border-color: $zefileformats-accent;
//     }

//     .page-title.page-title {
//         // border: 8px solid $zefileformats-accent;
//         // padding: .666rem;
//         // background: black;
//         color: $zefileformats-accent;
//         font-weight: 400;
//     }
// }
