//
// # Standard page styles
//

.page-title {
  margin: 0;
}

// ## Block
//

.container {
  &.padded {
    margin: $page-padding-top auto 2rem;
  }

  margin: 0 auto;

  display: flex;
  flex-direction: row;

  @media screen and (min-width: $width-large) {
    width: $width-large - 40;
  }

  @media screen and (max-width: $width-large - 1) {
    width: $width-medium - 40;
  }

  @media screen and (max-width: $width-medium - 1) {
    // width: $width-small - 40;
    width: 85%;
    flex-direction: column;
  }

  @media screen and (max-width: $width-small - 1) {
    width: 90%;
    flex-direction: column;
  }

  @media screen and (max-width: $width-medium - 1) {
    flex-direction: column;
    margin-top: 2rem;
  }

  // ### Nav/sidebar
  //

  .menu {
    flex: 0 0 280px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    @media screen and (min-width: $width-small) {
      padding: 0 0.66rem 0 0;
    }

    @media screen and (max-width: $width-medium - 1) {
      flex: 1 1 auto;
    }

    a.home {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .logo {
      max-width: $heading-area-height;
      height: auto;

      align-self: center;
    }

    .hr {
      text-align: center;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      .link {
        margin-left: 1rem;
      }

      .category {
        &:not(:first-child) {
          margin-top: 1.25rem;
        }

        .category-title {
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }

  // ### Content
  //

  .content {
    flex: 5;

    padding-top: $main-content-padding-top;

    @media screen and (min-width: $width-small) {
      padding-left: 1rem;
    }

    .content-header {
      height: $heading-area-height - $main-content-padding-top;

      .content-title {
        // font-size: 2.666666rem;
        margin-bottom: 0;
      }
    }

    .block {
      margin-bottom: $flow-margin-bottom * 3;
    }
  }
}
