//
// # Standard page styles
//


// ## Block
//

.container {
	margin: $page-padding-top auto 0;

	display: flex;
	flex-direction: row;

	@media screen and (min-width: $width-large) {
		width: $width-large - 40;
	}
	
	@media screen and (max-width: $width-large - 1) {
		width: $width-medium - 40;
	}
	
	@media screen and (max-width: $width-medium - 1) {
		// width: $width-small - 40;
		width: 85%;
		flex-direction: column;
	}

	@media screen and (max-width: $width-small - 1) {
		width: 90%;
		flex-direction: column;
	}

	@media screen and (max-width: $width-medium - 1) {
		flex-direction: column;
		margin-top: 2rem;
	}


	// ### Nav/sidebar
	//

	.menu {
		flex: 0 0 280px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;


		@media screen and (min-width: $width-small) {
			padding: 0 .66rem 0 0;
		}

		@media screen and (max-width: $width-medium - 1) {
			flex: 1 1 auto;
		}

		a.home {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.logo {
			max-width: $heading-area-height;
			height: auto;

			align-self: center;

		}

		.page-title {
			text-align: justify;
			font-size: 3.333rem;
			font-weight: 700;
			text-align: center;
			// text-transform: uppercase;

			max-width: 220px;
			margin: 0 auto;
			width: 100%;

			@include no-select();

			&.not-fancy {
				max-width: 100%;
			}

			.line {
				display: flex;
				justify-content: space-between;
			}
		}

		.hr {
			text-align: center;
		}

		.navigation {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;

			.link {
				// margin-left: 1rem;
			}

			.category {
				padding: .666rem 0 .222rem;
				margin-top: .333rem;

				border-bottom: 2px solid $hr-color;

				.category-title {
					margin-bottom: 0;
					text-align: center;
					font-weight: 700;

					border: none;
				}
			}
		}
	}


	// ### Content
	//

	.content {
		flex: 5;

		padding-top: $main-content-padding-top;

		@media screen and (min-width: $width-small) {
			padding-left: 1rem;
		}

		.content-header {
			height: $heading-area-height - $main-content-padding-top;

			.content-title {
				// font-size: 2.666666rem;
				margin-bottom: 0;
			}
		}

		.block {
			margin-bottom: $flow-margin-bottom * 3;
		}
	}
}
