//
// # Typography
//


// ## Variables
//

$font-stack:            -apple-system, BlinkMacSystemFont,
                        'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                        'Helvetica Neue', sans-serif;

$font-stack-heading:    -apple-system, BlinkMacSystemFont,
                        'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                        'Helvetica Neue', sans-serif;

$font-color:            #444;
$font-color-heading:    #222;

$font-size:             15px;


// ## Styles
//


// ### Headings

h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    font-family: $font-stack-heading;
    color: $font-color-heading;
    margin-top: 0;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1;
}

h1, .heading-1 {
    font-size: 4rem;
    margin-bottom: 2.424242rem;
}

h2, .heading-2 {
    font-size: 3.33333rem;
    margin-bottom: 2.020202rem;
}

h3, .heading-3 {
    font-size: 2.666666rem;
    margin-bottom: 1.616161rem;
}

h4, .heading-4 {
    font-size: 2rem;
    margin-bottom: 1.212121rem;
}

h5, .heading-5 {
    font-size: 1.333333rem;
    margin-bottom: 0.808080rem;
}

h6, .heading-6 {
    font-size: 1.166666rem;
    margin-bottom: 0.707070rem;
}

h2, h5, h6 {
    border-bottom: 2px solid $hr-color;
}

h2 {
    margin-bottom: 1rem;
    padding-bottom: .616161rem;
}


// ### Text

p {
    text-align: justify;
    margin-bottom: 1.65rem;
    margin-top: 0;
}

p + p {
    margin-top: -1.5em;
    text-indent: 1.5em;
}


// ### Misc

small {
    font-size: 65%;
}

h1, h2, h3, h4, h5, h6, p {
    hyphens: auto;
}


// ### Lists
//

ul, ol {
    margin: 0 0 1.65rem;

    li {
        text-align: justify;

        p {
            margin-bottom: 0;
        }
    }
}

ul {
    padding-left: 1.6rem;
}

dl {
    margin: 0;

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 1.6rem;
    }
}

ol {
    counter-reset: item;
    padding: 0;

    > li {
        counter-increment: item;
        list-style-type: none;
        text-indent: -1.6rem;
        padding-left: 1.6rem;

        &:before {
            content: counter(item) '.';
            display: inline-block;
            text-align: right;
            width: 1.3rem;
            padding-right: .3rem;
            font-weight: bold;
        }

        &.fancy-block:before {
            background: black;
            color: white;
        }
    }
}

ul.collapsed {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;  
    }
}

ul.blocks, ol.blocks {
    list-style: none;
    padding: 0;
}


// ### Code
//

pre, code {
    font-family: Monaco, Consolas, monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    tab-size: 4;
}

pre,
:not(pre) > code {
    background: rgba(0, 0, 0, .1);
}

pre {
    border-radius: .333em;
    margin: .5em 0;
    padding: 1em;
}

:not(pre) > code {
    padding: .15em .2em .05em;
    border-radius: .333em;
}

h1, h2, h3, h4, h5, h6 {
    > code {
        background: none;
    }
}


// ### Tables
//

table {
    width: 100%;
    margin-bottom: 1.65rem;
    border-collapse: collapse;

    thead {
        border-bottom: 2px solid $hr-color;
    }

    tbody {
        tr:nth-child(odd) {
            background: rgba(0, 0, 0, .033);
        }
    }

    td, th {
        padding: .1rem .666rem;
        min-width: 20%;
        text-align: left;
        vertical-align: top;
    }
}
