//
// # Style
//

@import "config";
@import "typography";
@import "mixins";
@import "shared";
@import "page";
@import "forms";
@import "calc";

// ## General Tags
//

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $font-color;
  font-size: $font-size;

  line-height: 1.65;

  margin: 0;

  // Always show scroll bar so all sites have the same content width.
  overflow-y: scroll;

  background: white;
}

img {
  max-width: 100%;
  height: auto;
}

// ### <hr> and variations
//

hr {
  width: 100%;
  border-color: $hr-color;
  border-style: dashed;

  margin: 0.399em 0 0.6em;
}

// ### Links
//

a:not(.button) {
  color: $accent;
  padding-bottom: 0.1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.chunk {
  font-family: $font-stack-mono;
  padding: 0.066rem 0.3rem;
  background: rgba(0, 0, 0, 0.05);

  &:hover {
    background: rgba(0, 0, 0, 0.075);
  }
}

span.chunk {
  font-family: $font-stack-mono;
  border-bottom: 0;
  padding: 0.066rem 0.3rem;
  background: rgba(0, 0, 0, 0.05);
}

// ### Selection
//

.no-select {
  @include no-select();
  cursor: default;
}

// ### Types
//

.long,
.float,
.short,
.byte,
.string,
.crc {
  font-family: $font-stack-mono;
}

.long,
.short,
.float {
  color: red;
}

.string {
  color: lightgreen;
}

.byte {
  color: orange;
}

.crc {
  color: orange;
}

// ### Structure table
//

table.structure {
  tr {
    td:nth-child(1) {
      white-space: nowrap;
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 16%;
    }

    td:nth-child(2) {
      font-family: $font-stack-mono;
      white-space: nowrap;
    }
    td:nth-child(2),
    th:nth-child(2) {
      text-align: right;
      width: 8%;
    }
  }
}

table.hierarchy {
  tr {
    td:nth-child(1),
    th:nth-child(1) {
      width: 15%;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 50%;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 35%;
    }
  }
}

table.render-type {
  tr {
    td:first-child,
    td:nth-child(2) {
      font-family: $font-stack-mono;
    }

    td:first-child,
    th:first-child,
    td:nth-child(2),
    th:nth-child(2) {
      text-align: right;
      width: 5%;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 45%;
    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 45%;
    }
  }
}

.hierarchy {
  .children {
    padding-left: 3rem;
    border-left: 1px dotted $hr-color;
  }

  header:not(.has-children) {
    display: inline-block;
  }
}
