<div class="column-parent-calc">

<div class="subcolumns-2 column" style="width: 50%;">

<checkbutton > Emissive </checkbutton>
<checkbutton > Glow </checkbutton>


<!-- <br> -->


<checkbutton > <t> <strong>Single-Sided Transparency</strong> <br>
	int(4) = hex(04)</t>
</checkbutton>
<checkbutton > Double-Sided Transparency </checkbutton>

<!-- <br> -->

<checkbutton > Hard-Edged Transparency </checkbutton>
<checkbutton > Per-Pixel Lighting </checkbutton>

<!-- <br> -->

<checkbutton > Additive Transparency </checkbutton>
<checkbutton > Specular </checkbutton>

</div>


<div class="column" style="width: 30%;">
<t><strong>Integer Value</strong></t> <br>
<input type="text" name="int_value" value=""> <br>
<t><strong>Hex Value</strong></t> <br>
<input type="text" name="hex_value" value=""> <br>

<a>Hex to Flags</a> <br>
<a>Integer to Flags</a> <br>
<a>Flags to Values</a> <br>
</div>

</div>
