<!doctype html>
<html>
    {% include "standard_header.html" %}
    <body>

        <div class="horizontal_bar centered">
            <div class="centered" id="projects_bar">
                <div class="big-text"> SCHLECHTWETTERFRONT </div>
            {% for project in projects %}
                <div class="box" id="{{ project.id }}" extra-height="{{ project.extra_height }}" extra-hover-size="{{ project.extra_hover_size }}" margin="{{ project.margin }}">
                    {% if project.subtitle %}
                    <div class="box-text" id="{{ project.id }}_title">{{ project.name }}<div class="sub-text">{{project.subtitle}}</div> </div>
                    {% else %}
                    <div class="box-text" id="{{ project.id }}_title">{{ project.name }}</div>
                    {% endif %}
                    <div class="info" id="{{ project.id }}_content">
                        <!-- <div class="hr"></div> -->
                    {% for link in project.links %}
                        <a class="rectangle_button" href="{{ link.address }}">{{ link.title }}</a>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
                <br>
                <div class="big-text"> BENEDIKT SCHATZ </div>
            </div>
        </div>

        <script type="text/javascript">

            {% include "js_color_randomizer.js" %}

            var info_margin = 4;

            window.onload = function () {
                info_margin = parseInt($(".box").attr("margin"));
                $("info").css({"padding-top": info_margin, "padding-bottom": info_margin});

                // Set the height here for the slide functionality.
                // If js is disabled then the box will just be twice the height so all of the content is visible.
                $(".box").css("height", "128");

                // Expanding boxes and random hover color for project boxes.
                $(".box").hover(
                    function () {
                        $(this).css("background-color", box_hover_color);


                        var id = $(this).attr("id");

                        $("#" + id + "_title").css("top", "-128px");
                        $("#" + id + "_content").css("top", "-128px");
                    },
                    function () {
                        $(this).css("background-color", box_normal_color);

                        var id = $(this).attr("id");
                        $("#" + id + "_title").css("top", "0px");
                        $("#" + id + "_content").css("top", "0px");

                    }
                );
            }
        </script>
    </body>
</html>
