<!doctype html>
<html>
	{% include "standard_header.html" %}
	<body>
        {% include "navbar.html" %}
		<div class="container-fluid container-main">
            <div class="row">
    		{% block content %}
    			{% include "project_sidebar.html" %}
    			{% include "project_content.html" %}
    		{% endblock content %}
            </div>
		</div>
        <script src="{{ path }}js/lightbox.min.js"></script>
        {% include "portfolio_footer.html" %}
        <script>
            lightbox.option({
                "resizeDuration": 100,
                "fadeDuration": 250,
            });
        </script>
	</body>
</html>
