{% import "templates.html" as macros %}

<div class="sidebar">
	<sidebar_title>{{ page_title }}</sidebar_title>
	<div class="hr_dark"></div>
	{% for category in categories %}
		<category_label>{{ category.title }}</category_label><br>
		{% if category.is_scrollable %}
		<div class="sidebar-content-scrollable">
		{% endif %}
		{% for link in category.links %}
	        {{ macros.list_button(link.address, link.title) }}
	    {% endfor %}
	    {% if category.is_scrollable %}
		</div>
		{% endif %}
	    <!-- <div class="hr-sidebar-dark"></div> -->
	{% endfor %}
	<script type="text/javascript">
		var count = 0;

		count =  $("a.rectangle_button").length;

		var height = parseInt($("a.rectangle_button").css("height")) * count + $("category_label").length * parseInt($("category_label").css("height")) + parseInt($("sidebar_title").css("height"));
		// $("div .sidebar").css("height", height + 10);
		// $("div .sidebar").css("max-height", height + 10);
	</script>
</div>
