{% import "templates.html" as macros %}

<div class="sidebar">
	<sidebar_title>{{ page_title }}</sidebar_title>
	<div class="hr_dark"></div>
	<div class="sidebar-content-scrollable">
	{% for category in categories %}
	    <category_label>{{ category.title }}</category_label><br>
	    {% for link in category.links %}
	        {{ macros.list_button(link.address, link.title) }}
	    {% endfor %}
	    <div class="hr_dark"></div>
	{% endfor %}
	</div>
	<script type="text/javascript">
		var count = 0;

		count =  $("a.rectangle_button").length;

		var height = parseInt($("a.rectangle_button").css("height")) * count + $("category_label").length * parseInt($("category_label").css("height")) + parseInt($("sidebar_title").css("height"));
		// $("div .sidebar").css("height", height + 10);
		// $("div .sidebar").css("max-height", height + 10);
	</script>
</div>
