<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!-- <link rel="stylesheet" href="{{ path }}css/styles.css"> -->
    <!-- <link rel="stylesheet" href="{{ path }}css/schlechtwetterfront_dark.css"> -->
    <!-- <link rel="stylesheet" href="{{ path }}css/schlechtwetterfront_light.css"> -->
    <link rel="stylesheet" href="{{ path }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path }}css/shared.css">
    <link rel="stylesheet" href="{{ path }}css/site.css">
    <link rel="stylesheet" href="{{ path }}css/site-mainpage.css">
    <link href="{{ path }}css/lightbox.min.css" rel="stylesheet">
    <script src="{{ path }}js/respond.js"></script>
    <script src="{{ path }}js/jquery-1.11.0.min.js"></script>
    <script src="{{ path }}js/bootstrap.min.js"></script>
    <script src="{{ path }}js/schlechtwetterfront_functional.js"></script>
    <script src="{{ path }}js/schlechtwetterfront_visual.js"></script>
    <link rel="icon" type="image/png" href="{{ path }}favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title }}</title>
</head>
