/*
  blue: 4b9bff
  red: dc301a
  red2: ff5f4a
*/



@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


body {
    background: white;
}

p {
    color: #606060;
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}


#top_bar {
    z-index: 100;
    background-color: white;
    border-bottom: solid 3px #ff5f4a;
    display: block;
    height: 80px;
    width: 100%;
    text-align: center;

    padding: 0px;
    margin: 0px;

    left: 0;
    top: 0px;
    position: fixed;
}


#top_bar_container box,
#top_bar_container logo,
#top_bar_container a {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    display: inline-block;
    width: 198px;
    height: 80px;
    line-height: 80px;

    font-size: 24px;
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-decoration: none;
    color: #808080;

    margin: 0px;
    padding: 0px;
    float: left;
    border-left: 2px solid #e0e0e0;
    
    cursor: default;

    transition: background-color 0.3s, color 0.3s;
}


#top_bar_container logo {
    background: url(../img/dota_logo_red.png) center center no-repeat;
    background-size: contain;
    /*transition: background-image 0.3s;*/
}


#top_bar_container logo:hover {
    /*background-image: url(../img/dota_logo_hover.png);*/
}


#top_bar_container > a {
    cursor: pointer;
}


#top_bar_container > a:hover {
    background-color: #ff5f4a;
    color: white;
}


#top_bar_container box.terminator,
#top_bar_container logo.terminator {
    width: 196px;
    border-right: 2px solid #e0e0e0;
}

#top_bar_container > a.terminator {
    width: 196px;
    border-right: 2px solid #e0e0e0;
}

#top_bar div.one {
    width: 200px;
}

#top_bar div.two {
    width: 400px;
}


#top_bar div.three {
    width: 600px;
}

#top_bar div.four {
    width: 800px;
}

#top_bar div.five {
    width: 1000px;
}

#main {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 86px;
    position: relative;
}

#main > p {
  padding-right: 6px;
  padding-left: 6px;
  margin: 0px;
  line-height: 40px;
}

#main > p > item {
  float: right;
  width: 80px;
  text-align: center;
}


#main > p > item.support {
  color: #ffa84b;
}

#main > p > item.solo {
  color: #e34aff;
}

#main > p > item.carry {
  color: #4b9bff;
}

entry_button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    border-radius: 3px;
    border: 1px solid #AAAAAA;
    border-bottom: 3px solid #ff5f4a;

    font-size: 20px;
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #606060;

    cursor: pointer;

    padding-left: 8px;
    margin: 6px;

    display: inline-block;
    width: 300px;
    height: 28px;

    text-align: left;

    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

entry_button:hover {
    border-color: #AAAAAA;
    /*border-bottom: 3px solid #ff934b;*/
    border-bottom: 3px solid #ff5f4a;

    background-color: #ff5f4a;
    color: white;
}


entry_button:active {
    color: #353535;
}


entry {
    text-align: left;
    vertical-align: top;
    height: 44px;
    width: 100%;
    max-width: 1000px;
    display: inline-block;

    border: 1px solid #CCCCCC;
    border-radius: 3px;

    margin-bottom: 4px;

    overflow: hidden;

    transition: height 0.3s;
}

entry.expanded {
    height: auto;
}


entry > category {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    font-size: 22px;
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #808080;

    cursor: default;

    width: 100%;
    display: inline-block;

    text-align: center;
    line-height: 44px;
    /*vertical-align: center;*/
}


entry p {
  margin: 10px;
  font-size: 14px;
  text-align: justify;
  font-weight: normal;
}

entry p u {
  margin: 4px;
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
  color: #ff5f4a;
  text-decoration: underline;
}


entry p u.fixed {
  display: inline-block;
  width: 100px;
  margin: 0px;
}

entry hr {
  height: 1px;
  border: none;
  width: 97%;
  background: #CCCCCC;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

entry indent {
  margin-left: 6px;
  display: inline-block;
}


entry > p > t {
  float: left;
  margin-left: 4px;
  width: 50px;
  font-family: monospace;
  color: #606060;
}

entry > p > tc {
  float: left;
  margin-left: 6px;
  color: #606060;
}


/* MAYBE DELETE? */

#dialog {
    display: none;
}


#dialog > entry > p > a {
  font-size: 14px;
  font-weight: normal;
  color: #606060;
  font-weight: bold;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  display: inline;
  text-decoration: none;
}

#dialog > entry > p > a:focus {
  outline: none;
}

#dialog > entry > p > a:hover {
  color: #ff5f4a;
}

#dialog > entry > category {
  font-size: 20px;
  line-height: 32px;
  margin-top: 6px;
}

#dialog > p {
  margin-top: 2px;
}


#timer_dialog {
    display: none;
}


#timer_dialog > p {
    font-size: 14px;
    margin: 4px;
}


.ui-dialog-titlebar-close {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: none;

    transition: background-color 0.3s;
}


.ui-dialog-titlebar-close:hover {
    background-color: #ff5f4a;
}


.ui-dialog-titlebar-close:focus {
    outline: none;
    border: 1px solid #CCCCCC;;
}


.ui-widget, .ui-widget button {
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    color: #606060;
}


.ui-dialog-titlebar {
    border-bottom: 3px solid #ff5f4a;
}

/*flag {
    display: inline-block;
    width: 50px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid #AAAAAA;
    float: right;
    margin: 15px;
}


flag.support {
    background-color: #ffa84b;
}

flag.solo {
    background-color: #e34aff;
}

flag.carry {
    background-color: #4b9bff;
}*/



flag {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    border-radius: 3px;
    border: 1px solid #AAAAAA;
    border-bottom: 3px solid #ffa84b;

    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #606060;

    cursor: default;

    display: inline-block;
    width: 72px;
    height: 20px;

    text-align: center;

    margin: 10px;
    margin-left: 0px;
    /*margin-left: 20px;*/
    float: right;

    transition: background-color 0.3s, color 0.3s, border 0.3s;
}


flag:hover {
  border-color: #AAAAAA;
  color: white;
}


flag.support {
  border-bottom: 3px solid #ffa84b;
}

flag.support:hover {
  background-color: #ffa84b;
}

flag.solo {
  border-bottom: 3px solid #e34aff;
}

flag.solo:hover {
  background-color: #e34aff;
}

flag.carry {
  border-bottom: 3px solid #4b9bff;
}

flag.carry:hover {
  background-color: #4b9bff;
}

